body, ion-content {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 10%;
    font-size: 2rem;
    color: #222;
}

ion-button {
    margin-top: 20px;
    --border-radius: 12px;
    --padding-start: 20px;
    --padding-end: 20px;
}

.tela {
    display: none;
}

.tela.ativa {
    display: block;
}
